@use '../../abstracts' as abs;
.feed{
    font-size: 14px;
    width: 100%;
    &-top{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        container-type: inline-size;
        container-name: toggle;
    }
    &-tab a{
        padding: 10px;
        border-bottom: 1px solid var(--natural2-bg3);
        font-weight: 500;
        color: var(--gray1-bg3);
        transition: all 0.2s linear;
        &:active,
        &:focus{
            border-bottom: 1px solid abs.$Primary;
            color: abs.$Primary;
            font-weight: 600;
        }
    } 
    &-toggle{
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        border-bottom: 1px solid var(--natural2-bg3);
        width: fit-content;
        &:has(#checked:checked){
            border-bottom: 1px solid abs.$Primary;
        }
        span{
            font-weight: 500;
            color:abs.$gray-1;
        }
    }

    &-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &-item{
        border-radius: 10px;
        background: var(--bg);
        border: 1px solid var(--natural2-bg3);
        &> *:not(:last-child) {
            border-bottom: 1px solid var(--natural2-bg3);
        }
    }
    &-header{
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;
        padding: 20px 31px 12px 20px;
        .more {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .profile-feed{
            width: 48px;
            aspect-ratio: 1;
            position: relative;
        }
        .verify{
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(33.333%);
        }
        .infor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-top{
                display: flex;
                font-weight: 500;
            }
            .star{
                display: flex;
                align-items: center;
                margin-left: 10px;
                gap: 3px;
            }
            &-bottom{
                display: flex;
                align-items: center;
                gap: 6px;
                color: abs.$gray-2;
            }
            .status{
                color: abs.$gray-2;
            }
        }
    }
    &-content{
    padding: 20px 31px 20px 20px;
    display: flex;
    }
    .content{
        &-left{
            max-width: 152px;
            max-height:158px ;
            overflow: hidden;
            border-radius: 10px;
            img{
                object-position: right;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &-right{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-left: 20px;
            position: relative;
            p {
                font-size: 13px;
                line-height: 1.46;
            }
        }
        &-name{
            color: abs.$gray-2;
            margin-bottom: 6px;
        }
        &-title{
            font-weight: 500;
            margin-bottom: 12px;
        }
        &-time{
            display: flex;
            align-items: center;
            gap: 10px;
            color: abs.$gray-2;
            margin-bottom: 16px;
        }
        &-general{
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    .share{
        position: absolute;
        top: 0;
        right: 0;
    }
    &-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 28px 34px 28px 21px;
    }
    .footer{
        &-icon{
            display: flex;
            align-items: center;
            gap: 19px;
        }
        &-button{
            display: flex;
            gap: 8px;
            padding: 9px 14px;
        }
    }
}
@container toggle (max-width:535px){
    .feed-toggle {
        border: none !important;
        span{
            display: none;
        }
    }
}
