@use '../../abstracts' as abs;
.playing{
    @include abs.flc(20px);
    margin-bottom: 100px;
    &-main{
        background: #000;
        padding: 11px 14px 20px 14px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-img{
        background: abs.$text-black1;
        width: 104px;
        aspect-ratio: 1;
        flex-shrink: 0;
        border-radius: 50%;
    }
    &-title{
        font-size: 15px;
        font-weight: 500;
        color: abs.$color-white;
    }
    &-name{
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color: abs.$gray-2;
        margin-top: 6px;
    }
    &-time{
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 12px;
        color: abs.$color-white;
        margin-block: 12px;
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        position: relative;
    }
    &-play{
        display: flex;
        align-items: center;
        gap: 20px;
        &-main{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &-volume{
        padding: 8px;
        background: rgba(50, 42, 49, 0.50);
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(calc(100% + 16px),-50%);
    }
}