.header {
    padding: 16px 0;
    background: #fff;
    box-shadow: 0 6px 30px 0 rgba(15, 15, 15, 0.06);
    position: relative;

    &-list {
        @include flex(center, center, 20px);

        a {
            border-radius: 10px;
            background-color: var(--gray7);
            padding: 14px 22px;
            color: var(--gray3);
            font-size: 14px;
            line-height: 1.428;
            transition: all 0.25s ease 0.1s;

            &:hover {
                color: white;
                background-color: #3B71FE;
            }
        }

        img {
            position: absolute;
            right: 0.5555%;
            top: 20%;
            cursor: pointer;
        }
    }
}
