body {
    font-family: "Inter", sans-serif; /* snans-serif chữ không chân */
    font-weight: 500;
    background: #fcfcfc;
}

section {
    margin-top: 70px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1218px;
    margin: 0 auto;
    padding-inline: 24px;
}
