@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin scream-mw($min){
    @media screen and (min-width: #{$min - 0.2px}){
        @content;
    }
}
@mixin scream-mxw($max){
    @media screen and (max-width: #{$max - 0.2px}){
        @content;
    }
}
@mixin flc($g: 0 , $mb: 0){
    display: flex;
    flex-direction: column;
    gap: $g;
    margin-bottom: $mb;
}
