$font-primary: "IBM Plex Sans", sans-serif;
$bg-color: white;
$text-black1: #1b1d21;
$text-black-90: #232333;
$gradient: linear-gradient(92deg, #415EF4 0.33%, #7141EF 28.14%);
$color-white: white;
$Primary: #6C5DD3;
$natural: #676A6F;
$Neutral-01: #FCFCFC;
$Neutral-1: #F8F8F8;
$natural-2: #F0F3F6;
$Support-color:#FF754C;
$Support-color1:#FFBAA5;    
$text-gray: #8494AB;
$gray-1:#5F6164;
$gray-2:#A6A7B2;
$secondary:#FFC7D9;
$secondary1:#FFABC6;
$secondary3:#FFD0E0;
$icon-color: #A5B4CB;
$color-white: white;