@use "../abstracts" as abs;
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px 24px 56px;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: var(--bg);
  z-index: 1000;
  border-bottom: 1px solid var(--opacity-inverse);
  &-search {
    position: relative;
    & .search {
      position: absolute;
      top: 50%;
      transform: translate(20px, -50%);
      cursor: pointer;
    }
    & input {
      border: none;
      width: 360px;
      height: 48px;
      border-radius: 12px;
      background-color: var(--search-header);
      padding-left: 56px;
      caret-color: abs.$gradient;
      &::placeholder {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.46;
      }
    }
  }

  &-toolbar {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
  }
}
.upload {
  padding: 12px 16px;
  gap: 6px;
}

.mes-noti {
  padding: 11px;
  position: relative;
  &::before {
    content: " ";
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid abs.$color-white;
    background: abs.$Support-color;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

.profile-header {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1366px){
  .topbar-toolbar>*:not(.profile-header){
    display: none;
  }
}
@media screen and (max-width: 767.98px){
  .topbar-search{
    display: none;
  }
  .topbar{
    justify-content: flex-end;
  }
}